* {
padding: 0;
margin: 0;
box-sizing: border-box;
transition: 2s;
}



.hero {
background: url(./images/1.jpg);
min-height: 100vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}





.child {
width: 100%;
min-height: 100vh;
background: rgba(36, 34, 34, 0.7);
display: flex;
justify-content: center;
align-items: center;
color: rgb(230, 41, 41);
font-size: 3rem;
}



.hero i {
margin: 2rem;
}





.hero i:nth-child(1) {
position: absolute;
left: 0;
}





.hero i:nth-child(3) {
position: absolute;
right: 0;
}